body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    color: #222222;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/*SUPER-INFO*/

.super-info-bg {
    background-color: #132AB2;
    color: white;
}

.super-info {
    max-width: 960px;
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.super-info p,
.super-info a {
    margin: 0 10px 10px;
}

.super-info a {
    color: white;
}

/*MENU NAV*/

.menu-bg {
    background-color: #2C70FF;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    font-size: 1.25em;
    color: white;
    padding: 10px;
    display: block;
}

.menu nav a:hover {
    color: #2230CA;
}



.logo-blog a {
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 0 10px;
}

/*Introdução*/

.introducao {
    max-width: 960px;
    margin: 0 auto;
}

.introducao h1 {
    font-size: 3em;
    line-height: 1;
    padding: 60px 10px;
}

/*Sobre*/

.sobre {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    border-top: 2px solid #2C70FF;
    border-bottom: 2px solid #2C70FF;
}

.sobre-info {
    flex: 2 1 300px;
    max-width: 0 10px;
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.sobre-img {
    margin: 0 10px;
    flex: 1 1 160px;
}

/* Produtos */

.produtos {
    max-width: 960px;
    margin: 60px auto;
}

.produtos h1 {
    font-size: 3em;
    margin: 0 10px 60px
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item h2 {
    background-color: #F7F7F7;
    font-size: 3em;
    color: #A4A4A4;
    padding: 60px 20px;
}

.produtos-item {
    flex: 1 1 175px;
    margin: 10px;
}

.purple {
    border-top: 8px solid #AE80FF;
}

.pink {
    border-top: 8px solid #F9265E;
}

.blue {
    border-top: 8px solid #66D9EB;
}

/*Preço*/

.preco {
    background-color: #F7F7F7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.preco-item {
    flex: 1 1 260px;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}

.preco-item h1 {
    font-size: 3em;
    color: #A4A4A4;
    text-align: center;
    margin-top: 20px;
}

.preco-item span {
    max-width: 300px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    padding: 10px 0 5px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    display: block;
}

.preco-item sup {
    font-size: 1.5rem;
}

.preco-item ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    color: #7C7C7C;
    font-style: italic;
}

.preco-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.preco-item li::after {
    content: '';
    background-color: #2C70FF;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: block;
}

.preco-item a {
    max-width: 300px;
    text-align: center;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: bold;
    color: #222222;
    border: 4px solid #222222;
    padding: 15px 0;
    display: block;
}

@media (max-width: 800px) {
    .preco {
        padding-left: 10px;
        padding-right: 10px;
    }

    .preco-item:nth-child(3) {
        order: -2;
    }

    .preco-item:nth-child(2) {
        order: -1;
    }
}

/*QUALIDADE*/

.qualidade {
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.qualidade-item {
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2 {
    color: #A4A4A4;
    font-size: 2.25em;
    margin-bottom: 20px;
}

.qualidade-item:nth-of-type(3n+1) h2::before {
    content: '';
    width: 8px;
    height: 30px;
    margin-right: 10px;
    background-color: #AE80FF;
    display: inline-block;
}

.qualidade-item:nth-of-type(3n+2) h2::before {
    content: '';
    width: 8px;
    height: 30px;
    margin-right: 10px;
    background-color: #F9265E;
    display: inline-block;
}

.qualidade-item:nth-of-type(3n+3) h2::before {
    content: '';
    width: 8px;
    height: 30px;
    margin-right: 10px;
    background-color: #66D9EB;
    display: inline-block;
}

.qualidade-item p {
    font-size: 1.25em;
    line-height: 1.4em;
    color: #7C7C7C;
}

/*NEWSLETTER*/

.newsletter {
    background-color: #F7F7F7;
    padding: 60px calc((100% - 960px) /2);
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info {
    flex: 1 1 240px;
    margin-left: 10px;
}

.newsletter-info h1 {
    font-size: 3em;
    color: #A4A4A4;
}

.newsletter-info p {
    max-width: 240px;
    font-size: 1.25em;
    font-style: italic;
    color: #7C7C7C;
    margin-bottom: 10px;
}

.newsletter-form {
    display: flex;
    flex: 2 1 240px;
    flex-wrap: wrap;
    margin: 0 10px;
    align-self: center;
}

.newsletter-form input {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    flex: 3 1 260px;
    border: 4px solid #3070FF;
    color: #757575;
    font-size: 1.25em;
    font-style: italic;
    padding: 15px 10px;

}

.newsletter-form button {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    flex: 3 1 260px;
    background-color: #3070FF;
    color: #FFFFFF;
    font-size: 2.25em;
    font-weight: bold;
    padding: 15px 10px;
    border: 0ex;
}

@media (max-width: 700px) {
    .newsletter-form button {
        font-size: 1.5em;
    }
}

/*FOOTER*/

.footer {
    display: flex;
    background: #2c70ff;
    height: 200px;
    align-items: center;
}

.footer p {
    flex: 1;
    text-align: center;
    font-size: 2.25em;
    color: #122ab2;
}