body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    color: #222222;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/*SUPER-INFO*/

.super-info-bg {
    background-color: #132AB2;
    color: white;
}

.super-info {
    max-width: 960px;
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.super-info p, .super-info a {
    margin: 0 10px 10px;
}

.super-info a {
    color: white;
}

/*MENU NAV*/

.menu-bg {
    background-color: #2C70FF;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li a{
    font-size: 20px;
    color: white;
    padding: 10px;
}



.logo-blog a{
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 0 10px;
}

/*Introdução*/

.introducao {
    max-width: 960px;
    margin: 0 auto;
}

.introducao h1 {
    font-size: 3em;
    line-height: 1;
    padding: 60px 10px;
}

/*Sobre*/

.sobre {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    border-top: 2px solid #2C70FF;
    border-bottom: 2px solid #2C70FF;
}

.sobre-info {
    flex: 2 1 300px;
    max-width: 0 10px;
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.sobre-img {
    margin: 0 10px;
    flex: 1 1 160px;
}

/* Produtos */

.produtos {
    max-width: 960px;
    margin: 60px auto;
}

.produtos h1 {
    font-size: 3em;
    margin: 0 10px 60px
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item h2 {
    background-color: #F7F7F7;
    font-size: 3em;
    color: #A4A4A4;
    padding: 60px 20px;
}

.produtos-item {
    flex: 1;
    margin: 10px;
}

.purple {
    border-top: 8px solid #AE80FF;
}

.pink {
    border-top: 8px solid #F9265E;
}

.blue {
    border-top: 8px solid #66D9EB;
}
